

.Wrapper{
    position: relative;
    width: 310px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.Wrapper:hover{
    transform: scale(0.98);
}

.Wrapper:hover::after{
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: conic-gradient(transparent, transparent,transparent, #f700ff);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.Wrapper:hover::before{
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: conic-gradient(transparent, transparent,transparent, #00ccff);
    animation: animate 4s linear infinite;    
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.HoverCard{
    font-family: 'Poppins', sans-serif;
    position: relative;
    width:300px;
    height:400px;
    border: 1px solid;
    border-color: var(--foreground);
    background: var(--background);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.HoverCard .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    word-wrap:break-word;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.HoverCard .content .icon{
    width: 80px;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: var(--foreground);
    transition: 0.5s ease-in-out;
}
.HoverCard .content .addColor { 
    color: var(--color3);
    box-shadow: 0 0 0 3px var(--foreground), 
                0 0 0 6px var(--color1);
} 
.HoverCard:hover .content .addColor {
    box-shadow: 0 0 0 3px var(--foreground),
                0 0 0 300px var(--color1);
}

.HoverCard:hover .content .icon{
    color: var(--foreground);
}

.HoverCard .content .text h3{
    font-size: 1.25em;
    color: var(--foreground);
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.HoverCard .content .text p{
    word-wrap: break-word;
    font-size: 1em;
    color: var(--foreground);
    transition: 0.5s ease-in-out;
    padding-top: 20px;
}